.DS_Store
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.lock-wscript
build/Release
node_modules
res
examples
example
exp-example
scripts
babel.config.js
metro.config.js
scripts/
data/
App.tsx
tsconfig.json
tslint.json