.DS_Store
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.lock-wscript
build/Release
node_modules
res
examples
example
exp-example
scripts
babel.config.js
metro.config.js
scripts/
src/
data/
App.tsx
tsconfig.json
tslint.json
.editorconfig
app.json
CODE_OF_CONDUCT.md
typings.d.ts
__tests__/
.expo/
.github/
.vscode/
web-build/
lib/assets/data/countries-image.json